<div class="row">
    <h2>Filters</h2>
    <div class="col-12">
        <p>Launch Year</p>
        <div *ngFor="let year of years" class="col-6">
            <h4><span (click)="applyFilter('launch_year', year)" class="badge badge-success">{{ year }}</span></h4>
        </div>
    </div>
    <div class="col-12">
        <p>Successful Launch</p>
        <div class="col-6">
            <h4><span (click)="applyFilter('launch_success', 'true')" class="badge badge-success">True</span></h4>
            <h4><span (click)="applyFilter('launch_success', 'false')" class="badge badge-success">False</span></h4>
        </div>
    </div>
    <div class="col-12">
        <p>Successful Landing</p>
        <div class="col-6">
            <h4><span (click)="applyFilter('land_success', 'true')" class="badge badge-success">True</span></h4>
            <h4><span (click)="applyFilter('land_success', 'false')" class="badge badge-success">False</span></h4>
        </div>
    </div>
</div>