<div class="row">
    <div class="inline col-12">
        <p><strong>Filters</strong></p>
    </div>
    <div class="inline col-12">
        <p>Launch Year</p>
        <div *ngFor="let year of years" class="inline col-6">
            <a
                [routerLink]="['/flight']"
                [queryParams]="{'launch_year': year}"
                queryParamsHandling="merge">
                <span class="badge badge-success" [class.selected]="params.launch_year == year">{{ year }}</span>
            </a>
        </div>
    </div>
    <div class="inline col-12">
        <p>Successful Launch</p>
        <div class="inline col-6">
            <a
                [routerLink]="['/flight']"
                [queryParams]="{'launch_success': 'true'}"
                queryParamsHandling="merge">
                <span class="badge badge-success" [class.selected]="params.launch_success == 'true'">True</span>
            </a>
        </div>
        <div class="inline col-6">
            <a
                [routerLink]="['/flight']"
                [queryParams]="{'launch_success': 'false'}"
                queryParamsHandling="merge">
                <span class="badge badge-success" [class.selected]="params.launch_success == 'false'">False</span>
            </a>
        </div>
    </div>
    <div class="inline col-12">
        <p>Successful Landing</p>
        <div class="inline col-6">
            <a
                [routerLink]="['/flight']"
                [queryParams]="{'land_success': 'true'}"
                queryParamsHandling="merge">
                <span class="badge badge-success" [class.selected]="params.land_success == 'true'">True</span>
            </a>
        </div>
        <div class="inline col-6">
            <a
                [routerLink]="['/flight']"
                [queryParams]="{'land_success': 'false'}"
                queryParamsHandling="merge">
                <span class="badge badge-success" [class.selected]="params.land_success == 'false'">False</span>
            </a>
        </div>
    </div>
</div>