<header>
    <div class="navbar">
        <div class="container">
            <strong>SpaceX Launch Programs</strong>
        </div>
    </div>
</header>

<main role="main">
    <div class="container">
        <div class="row">
            <app-filter class="col-md-3 col-sm-3 col-xs-12">
            </app-filter>
            <p *ngIf="inProgress">Loading...</p>
            <app-list
                class="col-md-9 col-sm-9 col-xs-12"
                [flights]="flights$ | async">
            </app-list>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="text-center">
            Developed by: <a href="https://github.com/abhijeetwebdev" target="_blank">@abhijeetwebdev</a>
        </p>
    </div>
</footer>